/* Reset do CSS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, p {
    font-family:"Bebas Neue";
}

header {
    background-color: rgb(214, 230, 245);
    padding: 55px;
    text-align: center;
}

main {
    background-color: rgb(214, 230, 245);
    flex: 1;
    padding: 48px 38px;

}

about-section {
    display: block;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 40px;;
    border-radius: 10px;
}



#titulo-about-me {
    font-size: 40px;
    padding-left: 60px;
    border-bottom: solid black
}

.text-about-me {
    font-size: 30px;


}

h3 {
    font-family:"Bebas Neue";
}

